#include <windows.h>
1 ICON "../build/luma.ico"
101 RCDATA "../web/settings.html"
102 RCDATA "particles.hlsl"
103 RCDATA "post.hlsl"
1 VERSIONINFO
FILEVERSION 1,1,0,0
PRODUCTVERSION 1,1,0,0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904B0"
  BEGIN
   VALUE "FileDescription", "Luma - Lightweight Audio Visualizer\0"
   VALUE "FileVersion", "1.1.0\0"
   VALUE "ProductName", "Luma\0"
   VALUE "ProductVersion", "1.1.0\0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x0409, 1200
 END
END
